*,:after,:before {
	background-color:#E0E0E0;
	box-sizing:border-box;
	color:inherit;
	margin:0;
	padding:0;
}

body {
	-webkit-font-smoothing: antialiased;
	color: #606060;
	font-family: system-ui, sans-serif;
	font-size: 0.75rem;
	line-height:1.5;
	text-rendering: optimizeLegibility;
}

nav ul {
	border-right: 1px solid #C0C0C0;
}

a {
	color: #606060;
	text-decoration-skip-ink: auto;
	text-decoration: underline;
}

a:hover {
	color: #B0CB21;
}

.post p {
	margin: .5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta {
	margin: 2rem 0;

	a {
		text-decoration: none;
	}
}

pre {
	background: #404040;
	border-left: 0.5rem solid #B0CB21;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.2rem 0.4rem #606060;
	color: #E0E0E0;
	font-family: Menlo, Consolas, monospace, sans-serif;
	line-height: 1.5;
	margin: .5rem;
	padding: 1rem;

	.highlight {
		overflow: scroll;
	}
}

pre code {
	background: #404040;
	color: #E0E0E0;
}

.logo {
	display: block;
	height: 100%;
	max-height: 128px;
	max-width: 128px;
	width: 100%;
}

.design {
	display: block;
	height: 100%;
	width: 100%;
}

hr {
	background: #C0C0C0;
	height: 1px;
	border: 0;
}

header {
	flex-basis:10rem;
	flex-grow:1;
	position:relative;
}

header a {
	text-decoration: none;
}

header a.active {
	color: #B0CB21;
	font-weight: bold;
}

header li {
	margin-bottom: .2rem;
	margin-right: 2rem;
	text-align: right;
}

header,section {
	padding:1rem;
}

blockquote {
	background-color: #D0D0D0;
	border-left: 0.5rem solid #B0CB21;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.2rem 0.4rem #909090;
	font-style: italic;
	margin: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;

	* {
		background-color: #D0D0D0;
	}
}

h1,h2,h3,h4,h5 {
	color: #B0CB21;
	font-weight: 400;
	line-height: 1;
	margin: 1rem 0;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

.posts ul,header ul {
	list-style: none;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
	overflow:hidden;
	text-decoration: none;
	text-overflow:ellipsis;
	white-space:nowrap;
}

time {
	color: #B0CB21;
	font-family: Menlo, Consolas, monospace;
	font-size: 0.65rem;
	vertical-align: middle;
	white-space: nowrap;
}

.post ul, .project ul {
	list-style-position: outside;
	margin-left: 0.25rem;
}

.post ol  {
	list-style-position: outside;
	margin-left: 1.5rem;
}

main {
	display:flex;
	flex-wrap:wrap;
	margin:2rem auto;
	max-width:60rem;
	padding:1rem;
}

section {
	display:flex;
	flex-basis:0;
	flex-direction:column;
	flex-grow:999;
	min-width:70%;
}

small {
	font-size: 0.35rem;
}

.task-list-item {
	list-style: none;
}

.task-list-item-checkbox {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

figcaption {
	font-size: smaller;
}

@media screen and (max-width: 45rem ) {

	header li {
		display: inline;
		margin-right: 1rem;
	}
	
	.logo {
		padding-bottom: 1rem;
	}
	
	header ul {
		border-bottom: 1px solid #C0C0C0;
		padding-bottom: 2rem;	
	}
	
	nav ul {
		border-right: 0px;
	}
	
	.photos ul {
		margin-top: 0.5rem;
	}

}