*,:after,:before {
	background-color: #E0E0E0;
	box-sizing: border-box;
	color: inherit;
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	color: #606060;
	font-family: system-ui, sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

nav ul {
	border-right: 1.0px solid #C0C0C0;
}

a {
	color: #606060;
	text-decoration-skip-ink: auto;
	text-decoration: underline;
}

a:hover {
	color: #B0CB21;
}

.post p {
	margin: 0.5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1.0rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta {
	margin: 1.0rem 0;
	font-size: 0.5rem;
	a {
		color: #909090;
		text-decoration: none;
	}
}

pre {
	background: #404040;
	border-left: 0.5rem solid #B0CB21;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.2rem 0.4rem #606060;
	color: #E0E0E0;
	font-family: Menlo, Consolas, monospace, sans-serif;
	font-size: 0.65rem;
	line-height: 1.5;
	margin: 0.5rem;
	overflow-x: auto;
	padding: 1.0rem;
	i {
		background: #404040;
		color: #B0CB21;
	}
	b {
		background: #404040;
		color: #B0CB21;
		font-weight: 400;
	}
}

code {
	color: #606060;
	font-family: Menlo, Consolas, monospace, sans-serif;
	font-size: 0.70rem;
}

.logo {
	display: block;
	height: 100%;
	max-height: 128px;
	max-width: 128px;
	width: 100%;
}

.design {
	display: block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	max-height: 330px;
	max-width: 585px;
	width: 100%;
}

hr {
	background: #C0C0C0;
	height: 1px;
	border: 0;
}

header {
	flex-basis: 10rem;
	flex-grow: 1;
	position: relative;
}

header a {
	text-decoration: none;
}

header a.active {
	color: #B0CB21;
	font-weight: bold;
}

header li {
	margin-bottom: 0.2rem;
	margin-right: 2.0rem;
	text-align: right;
}

header,section {
	padding: 1rem;

	h1,h2,h3,h4,h5 {
		color: #B0CB21;
		font-weight: 400;
		line-height: 1;
	}

	table {
		border: 0;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;

		th {
			padding: 0.5rem;
			text-align: left;
			background-color: #D0D0D0;
		}
		td {
			padding: 0.5rem;
			text-align: center;
		}

		.Shaded {
			font-style: italic;
			background-color: #D8D8D8;
		}

		.ShadedSmall {
			font-size: 0.5rem;
			font-style: italic;
			background-color: #D8D8D8;
			* {
				background-color: #D8D8D8;
			}
		}

		.FirstColumn {
			min-width: 14rem;
		}
		
		.LastColumn {
			min-width: 20rem;
		}

		.LastRow {
			border: 2px solid #B0CB21;
		}
	}
}

blockquote {
	background-color: #D0D0D0;
	border-left: 0.5rem solid #B0CB21;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.2rem 0.4rem #909090;
	font-style: italic;
	margin: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;

	* {
		background-color: #D0D0D0;
	}
	h1,h2,h3,h4,h5 {
		color: #606060;
		font-weight: 400;
		line-height: 1;
		padding: 0;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
	ul, ol {
		margin-bottom: 1.0rem;
		margin-top: 0.5rem;
	}
	hr {
		background: #A0A0A0;
		height: 1px;
		border: 0;
	}
	code {
		font-style: normal;
	}
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

.posts ul,header ul {
	list-style: none;
}

.posts li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0.5rem;
}

.posts li a, .posts li div, .projects li a {
	overflow:hidden;
	text-decoration: none;
	text-overflow:ellipsis;
	white-space:nowrap;
}

time {
	color: #B0CB21;
	font-family: Menlo, Consolas, monospace;
	vertical-align: middle;
	white-space: nowrap;
}

.post ul, .post ol, .project ul {
	list-style-position: outside;
	margin-left: 1.5rem;
}

main {
	display:flex;
	flex-wrap:wrap;
	margin: 2rem auto;
	max-width: 80rem;
	padding: 1rem;
}

section {
	display: flex;
	flex-basis: 0;
	flex-direction: column;
	flex-grow: 999;
	min-width: 70%;
}

small {
	font-size: 0.5rem;
	code {
		font-style: normal;
		font-family: Menlo, Consolas, monospace, sans-serif;
		font-size: 0.4rem;
	}
}

.task-list-item {
	margin-left: -0.5rem;
	list-style: none;
}

.task-list-item-checkbox {
	margin-right: 0.5rem;
}

figcaption {
	font-size: smaller;
}

@media screen and (max-width: 45rem) {

	header li {
		display: inline;
		margin-right: 1rem;
	}
	
	header ul {
		border-bottom: 1px solid #C0C0C0;
		padding-bottom: 1rem;	
	}
	
	nav ul {
		border-right: 0px;
	}
	
	.photos ul {
		margin-top: 0.5rem;
	}

}